/* 웹폰트 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('../font/Happiness-Sans/Happiness-Sans-Title.woff') format('woff2'),
    url('../font/Happiness-Sans/Happiness-Sans-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Happiness-Sans-Bold';
  src: url('../font/Happiness-Sans/Happiness-Sans-Bold.woff') format('woff2'),
    url('../font/Happiness-Sans/Happiness-Sans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Regular';
  src: url('../font/Happiness-Sans/Happiness-Sans-Regular.woff') format('woff2'),
    url('../font/Happiness-Sans/Happiness-Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */



/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	/* border: 3px solid red; */
	top: auto;
	bottom: 0;
	height: 60px;
	background-color: rgba(247, 186, 12, 0.7);
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	position: absolute;
	font-family: 'Happiness-Sans-Regular';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	letter-spacing: 0.02em;
	line-height: 60px;
	text-align: center;
	width: 100%;
}


figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/* 태블릿:800-999 */
@media all and (min-width: 800px) and (max-width: 999px) {

	figure.effect-zoe figcaption {
		/* border: 3px solid red; */
		top: auto;
		bottom: 0;
		height: 50px;
		background-color: rgba(247, 186, 12, 0.7);
		color: #fff;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		position: absolute;
		font-family: 'Happiness-Sans-Regular';
		font-weight: normal;
		font-style: normal;
		font-size: 20px;
		letter-spacing: 0.02em;
		line-height: 50px;
		text-align: center;
		width: 100%;
	}

}





/* 모바일 */

figure.effect-zoe_m figcaption {
	/* border: 3px solid red; */
	top: auto;
	bottom: 0;
	height: 60px;
	background-color: rgba(247, 186, 12, 0.7);
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	position: absolute;
	font-family: 'Happiness-Sans-Regular';
	font-weight: normal;
	font-style: normal;
	font-size: 23px;
	letter-spacing: 0.02em;
	line-height: 60px;
	text-align: center;
	width: 100%;
}


figure.effect-zoe_m h2 {
	float: left;
}

figure.effect-zoe_m p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe_m:hover p.icon-links a:hover,
figure.effect-zoe_m:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe_m p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe_m h2,
figure.effect-zoe_m p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe_m p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe_m h2 {
	display: inline-block;
}

figure.effect-zoe_m:hover p.description {
	opacity: 1;
}

figure.effect-zoe_m:hover figcaption,
figure.effect-zoe_m:hover h2,
figure.effect-zoe_m:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe_m:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe_m:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe_m:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe_m:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/*모바일:320-499 */
@media all and (min-width: 320px) and (max-width: 499px) {

	figure.effect-zoe_m figcaption {
		/* border: 3px solid red; */
		top: auto;
		bottom: 0;
		height: 50px;
		background-color: rgba(247, 186, 12, 0.7);
		color: #fff;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		position: absolute;
		font-family: 'Happiness-Sans-Regular';
		font-weight: normal;
		font-style: normal;
		font-size: 20px;
		letter-spacing: 0.02em;
		line-height: 50px;
		text-align: center;
		width: 100%;
	}
	


}


/*모바일:320-499 */
@media all and (min-width: 320px) and (max-width: 399px) {

	figure.effect-zoe_m figcaption {
		/* border: 3px solid red; */
		top: auto;
		bottom: 0;
		height: 40px;
		background-color: rgba(247, 186, 12, 0.7);
		color: #fff;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		position: absolute;
		font-family: 'Happiness-Sans-Regular';
		font-weight: normal;
		font-style: normal;
		font-size: 15px;
		letter-spacing: 0.02em;
		line-height: 40px;
		text-align: center;
		width: 100%;
	}
	


}